# Kopieer naar .env en vul in

# MendriX
MENDRIX_USERNAME=jouw@email.nl
MENDRIX_PASSWORD=jouwwachtwoord

# Andere site (voeg eigen variabelen toe en verwijs ernaar in de YAML)
# MYSITE_USERNAME=...
# MYSITE_PASSWORD=...
